{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cadastro de cursos</h1>
</div>

<table class="table">
    <tr><th>Nome do curso</th><th>Período</th><th>Faculdade</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
          <tr><td>{{ curso }}</td><td>Integral</td><td>Mackenzie</td></tr>
          <tr><td>{{ curso }}</td><td>Matutino</td><td>PUC</td></tr>
          <tr><td>{{ curso }}</td><td>integral</td><td>UNIP</td></tr>
          <tr><td>{{ curso }}</td><td>integral</td><td>UFABC</td></tr>
        {% endfor %}
</table>

{% endblock %}
